$defaultColor: white;
$themeColor: #5711c8;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 100px;
  background-color: $defaultColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .searchBar {
    display: flex;
    width: 600px;
    padding: 6px 18px;
    border: 1px solid #9f9f9f;
    border-radius: 30px;

    input {
      width: 100%;
      outline: none;
      border: none;
      color: #555555;
      font-size: 12px;
      padding: 0;
    }

    button {
      background-color: inherit;
      outline: none;
      border: none;
      padding: 0;
      cursor: pointer;

      svg {
        height: 100%;
      }
    }
  }

  .searchBar:focus-within {
    border-color: $themeColor;
  }

  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 25px 25px 25px 25px;
    height: 45px;
    width: 80px;

    .menubar {
      color: rgb(148, 158, 168);
      width: 20px;
      height: 25px;
      margin-left: 10px;
    }
    .profile {
      color: rgb(148, 158, 168);
      width: 32px;
      height: 50px;
      margin-right: 8px;
    }

    .loginBtn {
      background-color: $defaultColor;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 0;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $themeColor;
      }
    }
  }
}
