.profileInfoModifyContainer {
  display: flex;
  flex-direction: column;

  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .titleLabel {
    margin-bottom: 30px;
  }

  .inputLabel {
    margin-bottom: 10px;
    font-size: 20px;
  }

  input {
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 30px;
  }
}
