.labelInput {
  margin: 5px;
  padding: 0;

  label {
    margin: 0;
    width: 50%;
  }
  input {
    display: block;
    width: 325px;
    height: 30px;
    outline: none;
    border-radius: 1 solid 8px;
    margin: 0;
  }
  input:focus {
    outline: none !important;
    border-color: #8d3ecb;
    border: 1 solid;
  }
}
