.profileSectionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 100px;
}
.profileSectionContainer .profileInfoContainer {
  display: flex;
  justify-content: center;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer {
  display: flex;
  align-items: center;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer svg {
  margin-right: 10px;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer {
  display: flex;
  flex-direction: column;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer span {
  font-size: 16px;
  font-weight: lighter;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer .profileInfoModifyContainer {
  display: flex;
  margin-bottom: 15px;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer .profileInfoModifyContainer span {
  font-size: 28px;
  font-weight: normal;
  margin-right: 30px;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer .profileInfoModifyContainer button {
  background-color: #8d3ecb;
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}
.profileSectionContainer .profileDetailInfoContainer {
  display: flex;
  align-items: center;
}
.profileSectionContainer .profileDetailInfoContainer .profileDetailInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
}
.profileSectionContainer .profileDetailInfoContainer .profileDetailInfo span:first-child {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 4px;
}
.profileSectionContainer .profileDetailInfoContainer .profileDetailInfo span:last-child {
  font-size: 32px;
  font-weight: normal;
}
.profileSectionContainer hr {
  width: 100%;
  height: 0.1px;
  background-color: lightgray;
  border: none;
  margin-bottom: 0;
}
.profileSectionContainer .tabBtnContainer {
  display: flex;
  justify-content: center;
}
.profileSectionContainer .tabBtnContainer button {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 20px 33px;
  font-size: 16px;
  cursor: pointer;
}
.profileSectionContainer .tabBtnContainer button img {
  margin-right: 10px;
}
.profileSectionContainer .tabBtnContainer .selectedBtn {
  border-top: 2px solid #8d3ecb;
}
.profileSectionContainer .tabContainer div {
  display: none;
}
.profileSectionContainer .tabContainer .selectedTab {
  display: block;
}

.profileModifyCard {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #8d3ecb;
  border-radius: 10px;
  background-color: white;
  padding: 60px 80px;
  z-index: 1;
}
.profileModifyCard .profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
.profileModifyCard .profileContainer input {
  display: none;
}
.profileModifyCard .profileContainer img {
  width: 200px;
}
.profileModifyCard .profileModifyContainer {
  display: flex;
  flex-direction: column;
}
.profileModifyCard .profileModifyContainer .profileInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.profileModifyCard .profileModifyContainer .profileInputContainer label {
  font-size: 16px;
  margin-bottom: 3px;
}
.profileModifyCard .profileModifyContainer .profileInputContainer input,
.profileModifyCard .profileModifyContainer .profileInputContainer textarea {
  border: 1px solid lightgray;
  outline: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 3px 6px;
}
.profileModifyCard .profileModifyContainer .modifyBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.profileModifyCard .profileModifyContainer .modifyBtnContainer button {
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: #8d3ecb;
  font-size: 16px;
  font-weight: 300;
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=ProfileSectionContainer.css.map */
