.profileModifyContainer {
  display: flex;
  align-items: center;

  .profileImgBtn {
    background-color: inherit;
    border: none;
    margin: 0;
    margin-right: 60px;
    cursor: pointer;

    .profileImg {
      color: rgb(90, 188, 227);
      background-color: lightblue;
      padding: 40px 20px;
      outline: none;
      border-radius: 10px;
    }
  }

  #hidden {
    display: none;
  }
}
