.categoryContainer {
  display: flex;
  flex-direction: column;

  .categoryLabel {
    font-size: 30px;
    font-weight: bold;
  }

  .categoryBtnContainer {
    display: flex;
  }

  .categoryMenuLabel {
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .categoryMenuContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
