.profileSectionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 100px;
}
.profileSectionContainer .profileInfoContainer {
  display: flex;
  justify-content: center;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer {
  display: flex;
  align-items: center;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer {
  display: flex;
  flex-direction: column;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer span {
  font-size: 16px;
  font-weight: lighter;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer .profileInfoModifyContainer {
  display: flex;
  margin-bottom: 15px;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer .profileInfoModifyContainer span {
  font-size: 28px;
  font-weight: normal;
  margin-right: 30px;
}
.profileSectionContainer .profileInfoContainer .profileBaseInfoContainer .profileTextInfoContainer .profileInfoModifyContainer button {
  background-color: #8d3ecb;
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
}
.profileSectionContainer .profileDetailInfoContainer {
  display: flex;
  align-items: center;
}
.profileSectionContainer .profileDetailInfoContainer .profileDetailInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
}
.profileSectionContainer .profileDetailInfoContainer .profileDetailInfo span:first-child {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 4px;
}
.profileSectionContainer .profileDetailInfoContainer .profileDetailInfo span:last-child {
  font-size: 32px;
  font-weight: normal;
}
.profileSectionContainer hr {
  width: 100%;
  height: 0.1px;
  background-color: lightgray;
  border: none;
  margin-bottom: 0;
}
.profileSectionContainer .tabBtnContainer {
  display: flex;
  justify-content: center;
}
.profileSectionContainer .tabBtnContainer button {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 20px 33px;
  font-size: 16px;
  cursor: pointer;
}
.profileSectionContainer .tabBtnContainer button img {
  margin-right: 10px;
}
.profileSectionContainer .tabBtnContainer .selectedBtn {
  border-top: 2px solid #8d3ecb;
}
.profileSectionContainer .tabContainer div {
  display: none;
}
.profileSectionContainer .tabContainer .selectedTab {
  display: block;
}

.profileModal,
.overlay {
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.profileModal .modalContent,
.overlay .modalContent {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  border: 1px solid #8d3ecb;
  border-radius: 10px;
  padding: 60px 100px;
}
.profileModal .modalContent .profileContent .basicInfo,
.overlay .modalContent .profileContent .basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.profileModal .modalContent .profileContent .basicInfo input,
.overlay .modalContent .profileContent .basicInfo input {
  display: none;
}
.profileModal .modalContent .profileContent .basicInfo img,
.overlay .modalContent .profileContent .basicInfo img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.profileModal .modalContent .profileContent .detailInfo,
.overlay .modalContent .profileContent .detailInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.profileModal .modalContent .profileContent .detailInfo .profileInputContainer,
.overlay .modalContent .profileContent .detailInfo .profileInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.profileModal .modalContent .profileContent .detailInfo .profileInputContainer button,
.overlay .modalContent .profileContent .detailInfo .profileInputContainer button {
  background-color: #8d3ecb;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  color: white;
  cursor: pointer;
}
.profileModal .modalContent .profileContent .detailInfo .profileInputContainer label,
.overlay .modalContent .profileContent .detailInfo .profileInputContainer label {
  font-size: 16px;
  margin-bottom: 3px;
}
.profileModal .modalContent .profileContent .detailInfo .profileInputContainer input,
.profileModal .modalContent .profileContent .detailInfo .profileInputContainer textarea,
.overlay .modalContent .profileContent .detailInfo .profileInputContainer input,
.overlay .modalContent .profileContent .detailInfo .profileInputContainer textarea {
  border: 1px solid lightgray;
  outline: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 3px 6px;
}
.profileModal .modalContent .btnContainer,
.overlay .modalContent .btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.profileModal .modalContent .btnContainer button,
.overlay .modalContent .btnContainer button {
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: #8d3ecb;
  font-size: 16px;
  font-weight: 300;
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.noScroll {
  overflow: hidden;
}

.passwordContent {
  width: 273px;
  height: 602px;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=profileSection.css.map */
