.loginContainer {
  width: 400px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(228, 228, 228);

  .goToContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    margin-bottom: 20px;

    .LoginChangeBtn {
    }

    .SignUpBtn {
    }
  }

  > .LoginContainer {
    align-items: center;
    flex-direction: column;
    display: flex;
    border: 1px solid red;
    max-width: 1000px;
    min-width: 700px;
    max-height: 700px;

    .Email {
      margin-bottom: 15px;
      justify-content: center;
    }

    .Password {
      margin-bottom: 15px;
    }

    .LoginBtn {
      margin-bottom: 15px;
    }
  }
}
