$theme-color: #8d3ecb;

.profileSectionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 100px;

  .profileInfoContainer {
    display: flex;
    justify-content: center;

    .profileBaseInfoContainer {
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
      }

      .profileTextInfoContainer {
        display: flex;
        flex-direction: column;

        span {
          font-size: 16px;
          font-weight: lighter;
        }

        .profileInfoModifyContainer {
          display: flex;
          margin-bottom: 15px;

          span {
            font-size: 28px;
            font-weight: normal;
            margin-right: 30px;
          }

          button {
            background-color: $theme-color;
            border: none;
            border-radius: 12px;
            outline: none;
            font-size: 16px;
            font-weight: 300;
            color: white;
            padding: 8px 16px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .profileDetailInfoContainer {
    display: flex;
    align-items: center;

    .profileDetailInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 90px;

      span:first-child {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 4px;
      }

      span:last-child {
        font-size: 32px;
        font-weight: normal;
      }
    }
  }

  hr {
    width: 100%;
    height: 0.1px;
    background-color: lightgray;
    border: none;
    margin-bottom: 0;
  }

  .tabBtnContainer {
    display: flex;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      background-color: inherit;
      border: none;
      outline: none;
      padding: 20px 33px;
      font-size: 16px;
      cursor: pointer;

      img {
        margin-right: 10px;
      }
    }

    .selectedBtn {
      border-top: 2px solid $theme-color;
    }
  }

  .tabContainer {
    div {
      display: none;
    }

    .selectedTab {
      display: block;
    }
  }
}

.profileModifyCard {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $theme-color;
  border-radius: 10px;
  background-color: white;
  padding: 60px 80px;
  z-index: 1;

  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;

    input {
      display: none;
    }

    img {
      width: 200px;
    }
  }

  .profileModifyContainer {
    display: flex;
    flex-direction: column;

    .profileInputContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      label {
        font-size: 16px;
        margin-bottom: 3px;
      }

      input,
      textarea {
        border: 1px solid lightgray;
        outline: none;
        border-radius: 2px;
        font-size: 16px;
        padding: 3px 6px;
      }
    }

    .modifyBtnContainer {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;

      button {
        margin-left: 10px;
        border: none;
        outline: none;
        background-color: $theme-color;
        font-size: 16px;
        font-weight: 300;
        color: white;
        padding: 8px 16px;
        border-radius: 12px;
        cursor: pointer;
      }
    }
  }
}

.hidden {
  display: none;
}
