$categoryBtnHoverColor: rgb(0, 123, 255);

.categoryBtn {
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

  button {
    outline: none;
    border: 2px solid rgb(149, 149, 149);
    border-radius: 30px;
    background-color: white;
    color: rgb(95, 95, 95);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
  }

  button:hover {
    border-color: $categoryBtnHoverColor;
    color: $categoryBtnHoverColor;
    transition: all 0.5s;
  }
}
