.profileBtn {
  background-color: lightgray;
  padding: 10px 12px;
  border: none;
  border-radius: 9999px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: darkgray;
    transition: background-color 0.5s;
  }
}
